.nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 55px;
    width: 100%;
    background-color: #004780;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0px 25px;
    z-index: 2;
}