@keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.marker-list {
    width: 100%;
    animation: 1.3s ease-out 0s 1 fadeIn;
    background-color: white;
    height: 86vh;
    overflow: scroll;

    &__description {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__search {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
}