@keyframes slideInFromLeft {
    0% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.marker-list {
    animation: 1.3s ease-out 0s 1 slideInFromLeft;
    height: 100%;
    background-color: white;
}