.bottom-tab {
    position: fixed;
    top: calc(100% - 54.5px);
    left: 0;
    height: 60px;
    width: 100%;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

    

    .MuiPaper-root {
        box-shadow: 10px 10px 10px 10px #000;
        background-color: #004780 !important;
    }

    .MuiTab-textColorSecondary {
        color: rgba(255, 255, 255, 0.54);
    }

}