.selected-marker {

    width: 92%;
    height: 100%;
    margin-top: -20px;

    overflow: hidden;

    text-align: center;
    align-items: center;

    &__between-line {
        display: inline-block;
        position: relative;
        margin: 10px 0px 10px 0px;
        color: rgb(139, 139, 139);
    
        &:before {
          content: "";
          position: absolute;
          height: 5px;
          border-bottom: 1px solid #aaa;
          top: 25%;
          width: 35vw;
        }
        &:after {
          content: "";
          position: absolute;
          height: 5px;
          border-bottom: 1px solid #aaa;
          top: 25%;
          width: 35vw;
        }
    
        &:before {
          right: 100%;
          margin-right: 15px;
        }
    
        &:after {
          left: 100%;
          margin-left: 15px;
        }
    }

    &__infos {
        width: 100%;
        height: calc(100vh - 300px);
        overflow-y: scroll !important;
    }
}