.edit-marker {

    width: 100%;
    height: 100%;
    
    &__main {

        width: 100vw;
        height: 78vh;
        overflow: scroll;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__map-container {
        position: relative;
        width: 100%;
        height: 100%;
    }

    &__map {
        width: 100%;
        height: 100px; //100% - height of header and top components
    }

    &__container {
        display: flex;
        flex-direction: column;
        padding: 10px;
    }

    &__marker-type {
        text-align: center;
        color: rgb(13, 42, 84);
        font-weight: bold;
    }

    &__input {
        align-self: center;
        justify-self: center;
        margin: 10px 0px;
        width: 70%;
    }
}
